/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Anodized
Description: A two-column, fixed-width design with a dark color scheme.
Version    : 1.0
Released   : 20120705
*/

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: underline;
	color: #e8e8e8;
}

a:hover {
	text-decoration: none;
}

body {
	font-size: 11pt;
	line-height: 1.6em;
	font-family: Arial, sans-serif;
	background: #9ea3a3;
	color: #adadad;
	background: url(images/bg.jpg);
}

strong {
	color: #ffffff;
}

img {
	border-style: none;
}

br.clearfix {
	clear: both;
}

h1,h2,h3,h4 {
	text-transform: uppercase;
	font-weight: normal;
	color: #f0f0f0;
}

h2,h3,h4 {
	margin-bottom: 20px;
	font-family: Arvo, serif;
	color: #ffffff;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.2em;
}

img.left {
	float: left;
	margin: 8px 20px 20px 0;
}

img.top {
	margin: 8px 0 20px 0;
}

p {
	margin-bottom: 1.25em;
}

ul {
	margin-bottom: 1.25em;
}

ul {
	list-style: none;
}

.grid {
	font-weight: bold;
	color: white;
}

.image-list {
	list-style: none;
}

.image-list li {
	clear: both;
}

.box {
	overflow: hidden;
	margin: 0 0 30px 0;
}

#box-left {
	width: 312px;
	overflow: hidden;
	float: left;
}

#box-right {
	width: 312px;
	overflow: hidden;
	margin: 0 0 0 336px;
}

#content {
	width: 650px;
	float: left;
	padding: 0;
}

#footer {
	padding: 40px 0 95px 0;
	text-align: center;
	color: #606060;
}

#footer a {
	color: #707070;
}

#header {
	position: relative;
	padding: 28px;
	height: 130px;
}

#logo {
	position: absolute;
	top: 0;
	left: 28px;
	height: 130px;
	line-height: 130px;
}

#logo a {
	text-decoration: none;
	color: #ffffff;
}

#logo h1 {
	font-size: 3em;
	font-family: Bevan, serif;
}

#page {
	position: relative;
	padding: 50px 28px 0px 28px;
	width: 922px;
	background: rgba(65, 70, 70, 0.4);
	border: solid 1px #474949;
	border-top: 0;
}

#page ul li {
	padding: 12px 0 12px 0;
	border-top: solid 1px #606060;
}

#page ul li.first {
	padding-top: 0;
	border-top: 0;
}

#page-bottom {
	position: relative;
	padding: 50px 28px 0px 28px;
	width: 922px;
	background: rgba(15, 20, 20, 0.35);
	color: #999;
	border: solid 1px #3f3f3f;
	border-top: 0;
}

#page-bottom ul li {
	padding: 12px 0 12px 0;
	border-top: solid 1px #292929;
}

#page-bottom ul li.first {
	padding-top: 0;
	border-top: 0;
}

#page-bottom ul li {
	border-top: solid 1px #404040;
}

#page-bottom-content {
	width: 650px;
	float: left;
}

#page-bottom-sidebar {
	width: 250px;
	margin: 0 0 0 674px;
}

#menu {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 58px;
	line-height: 60px;
	padding: 0 20px 0 20px;
	width: 938px;
	margin: 0 0 0 0;
        border: solid 1px #474949;
        background: rgba(65, 70, 70, 0.4);
}

#menu a {
	text-decoration: none;
}

#menu ul {
	list-style: none;
}

#menu ul li {
	display: inline;
	text-transform: uppercase;
	padding: 8px 12px 8px 12px;
	border: solid 1px #0f101d;
        font-family: Arvo, serif;
        color: white;
        margin-right: 1em;
}

#menu ul li.first {
}

#menu ul li.active {
        background: url(images/bg.jpg);
	border: solid 1px white;
}

#menu ul li:hover  {
        background: url(images/bg.jpg);
}

#wrapper {
	position: relative;
	width: 980px;
	margin: 68px auto 0 auto;
}

#search {
	position: absolute;
	top: 0;
	right: 28px;
	height: 130px;
	line-height: 130px;
}

#search input.text {
	padding: 10px 40px 10px 10px;
	background: rgba(15, 20, 20, 0.4) url(images/search.png) top right no-repeat;
	border: 0;
	color: #c7c8c8;
	width: 200px;
	border: solid 1px #3c3c3c;
}

#sidebar {
	width: 250px;
	margin: 0 0 0 674px;
	padding: 0;
}

#sidebar ul li {
    padding-top: 1em;
    padding-bottom: 1em;
}

a.mailto {
    background: left center no-repeat url(images/envelope-ws.png);
    padding-left: 1.75em;
}

a.fb, a.gp, a.rss, a.tw {
    padding: 30px;
    text-decoration: none;
}

a.fb {
    background: left center no-repeat url(images/facebook-w.png);
    background-size: 24px;
}
a.gp {
    background: left center no-repeat url(images/google-plus-w.png);
    background-size: 24px;
}
a.rss {
    background: left center no-repeat url(images/rss-w.png);
    background-size: 24px;
}
a.tw {
    background: left center no-repeat url(images/twitter-w.png);
    background-size: 24px;
}


/* For ANTRat's boxes-over-seating-layout-image */
.layout { position: relative; background-image: url('images/seating.png'); background-size: 922px 711px; width: 922px; height: 711px; }
.seat,.staff,.equipment{ height: 32px; width: 42px; position: absolute; }
.seat { background-color: red;opacity:0.3;}
.staff { background-color: yellow; opacity: 0.4}
.equipment { background-color: blue; opacity: 0.3}
.row-a { top: 113px; }
.row-b { top: 164px; }
.row-c { top: 256.25px; }
.row-d { top: 307.75px; }
.row-e { top: 390px; }
.row-f { top: 441.5px; }
.column-0,.column-2,.column-4,.column-6,.column-8,.column-a,.column-c,.column-e,
.staff-00,.staff-02,.staff-10,.staff-12 {
border-radius: 15px 0px 0px 15px;
}
.column-1,.column-3,.column-5,.column-7,.column-9,.column-b,.column-d,.column-f,
.staff-01,.staff-03,.staff-11,.staff-13 {
border-radius: 0px 15px 15px 0px; 
}
.column-0 { left: 75px; }
.column-1 { left: 118px; }
.column-2 { left: 161px; }
.column-3 { left: 204px; }
.column-4 { left: 247px; }
.column-5 { left: 290px; }
.column-6 { left: 333px; }
.column-7 { left: 376px; }
.column-8 { left: 488px; }
.column-9 { left: 531px; }
.column-a { left: 574px; }
.column-b { left: 617px; }
.column-c { left: 660px; }
.column-d { left: 703px; }
.column-e { left: 746px; }
.column-f { left: 789px; }


/* Staff Seats 00,01,02,03,10,11,12,13 */
.staff-00,.staff-01,.staff-02,.staff-03 { top: 634px; }
.staff-10,.staff-11,.staff-12,.staff-13 { top: 536px; }
.staff-00,.staff-10 { left: 358px;}
.staff-01,.staff-11 { left: 401px;}
.staff-02,.staff-12 { left: 445px;}
.staff-03,.staff-13 { left: 488px;}

/* Staff seats 14,15,16,17 */
.staff-14,.staff-16,.staff-15,.staff-17 { width: 32px; height: 41px;}
.staff-14,.staff-15 { top: 562px; border-radius: 15px 15px 0px 0px;}
.staff-15 { top: 567px; }
.staff-16,.staff-17 { top: 605px; border-radius: 0px 0px 15px 15px;}
.staff-17 { top: 610px; }
.staff-14,.staff-16 { left: 298px; }
.staff-15,.staff-17 { left: 560px; }

